In [41]:
import pandas as pd

In [42]:
phrase = list(input().lower())
abc = ['а', 'б', 'в', 'г', 'д', 'е', 'ё', 'ж', 'з', 'и', 'й', 'к', 'л', 'м', 'н', 'о', 'п', 'р', 'с', 'т', 'у', 'ф', 'х', 'ц', 'ч', 'ш', 'щ', 'ъ', 'ы', 'ь', 'э', 'ю', 'я']

top_dict = {}

chastota = pd.read_csv('chastota.csv', index_col=1)
chastota.head()

     буква  употреблений частотность
ранг
1        о      55414481      10,97%
2        е      42691213       8,45%
3        а      40487008       8,01%
4        и      37153142       7,35%
5        н      33838881       6,70%

In [43]:
chast = chastota.drop('употреблений', axis=1)
chast.head()

     буква частотность
ранг
1        о      10,97%
2        е       8,45%
3        а       8,01%
4        и       7,35%
5        н       6,70%

In [44]:
def top_of_letters(x):
    for i in range(len(abc)):
        top_dict[abc[i]] = (x.count(abc[i])/len(x))*100
    return top_dict

top_dict = top_of_letters(phrase)
print(top_dict)

chast.head(10)

{'а': 5.563689604685212, 'б': 0.8784773060029283, 'в': 3.953147877013177, 'г': 1.7569546120058566, 'д': 3.3674963396778916, 'е': 6.734992679355783, 'ё': 0.0, 'ж': 0.5856515373352855, 'з': 1.171303074670571, 'и': 6.295754026354319, 'й': 1.171303074670571, 'к': 3.513909224011713, 'л': 4.24597364568082, 'м': 2.4890190336749636, 'н': 4.978038067349927, 'о': 8.199121522693996, 'п': 2.342606149341142, 'р': 4.538799414348463, 'с': 3.953147877013177, 'т': 3.513909224011713, 'у': 1.4641288433382138, 'ф': 0.7320644216691069, 'х': 1.0248901903367496, 'ц': 1.3177159590043925, 'ч': 1.171303074670571, 'ш': 0.14641288433382138, 'щ': 0.29282576866764276, 'ъ': 0.0, 'ы': 2.1961932650073206, 'ь': 0.7320644216691069, 'э': 0.14641288433382138, 'ю': 0.0, 'я': 2.342606149341142}

     буква частотность
ранг
1        о      10,97%
2        е       8,45%
3        а       8,01%
4        и       7,35%
5        н       6,70%
6        т       6,26%
7        с       5,47%
8        р       4,73%
9        в       4,54%
10       л       4,40%

In [45]:
def replace():

SyntaxError: incomplete input (2119840821.py, line 2)